.container {}

/*** navigation ***/

.navbar-brand {margin-right: -30px;} 

.menu {padding-top: 15px;}

.menu-right{margin-right: 20px;}

.menu li {list-style: none; display: inline; margin-left:10px;}

	.menu li a:hover {text-decoration: none; color: #0071d3;}


/*** jumbotron***/

.jumbotron {background: #fff;  box-shadow: 0px 0px 10px #555}

/*** content ***/

.content{padding-bottom: 30px;}

.project p{margin-top: 15px;}

/*** form styles ***/

label {display: block;}

input, textarea {display: block; margin-bottom: 20px;}

.delete {color:red; border:none; background-color: inherit; float: left; font-size: 22px; margin: -2px 5px 0 0;}

td, th{padding: 20px;}

/*** aside ***/
aside {text-align: center;}

/*** footer ***/

/*footer{ background-color: #fff; color: #555; text-align: center; line-height: 36px; border: 1px dotted #e8e8e8; padding:0;}*/

/*footer p {padding: 10px 0;}*/

.clearfix {clear: both;}